
<div>  
  <div>
    氏名<br>
    <%= @customer.name %>
  </div>
  <div>
    氏名(カナ)<br>
    <%= @customer.name_kana %>
  </div>
  <div>
    ニックネーム<br>
    <%= @customer.nickname %>
  </div>
  <div>
    メールアドレス<br>
    <%= @customer.email %>
  </div>
  <div>
    電話番号<br>
    <%= @customer.phone_number %>
  </div>
  <div>
    会員ステータス<br>
    <div>
      <% if @customer.status == true %>
        <%= "有効" %>
      <% else %>
        <%= "退会" %>
      <% end %>
    </div>
  </div>
</div>