<% posts.each do |t| %>
  <div class="col">
      <table class="table" style="background-color: lightblue;">
        <tbody>
          <tr>
            <td>
              投稿者
            </td>
            <td>
              <%= t.customer.nickname %>
            </td>
          </tr>
          <tr>
            <td>
              施設名
            </td>
            <td>
              <%= link_to post_path(t.id) do %>
                <%= t.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              住所
            </td>
            <td><%= t.address %></td>
          </tr>
          <tr>
            <td>おすすめ度</td>
            <td><div id="star-<%= t.id %>"></div></td>
              <script>

                  init();
                  function init(){
                    if (0 < $("#star-<%= t.id %> img").length) return false;
                    $("#star-<%= t.id %>").raty({
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      scoreName: 'post[recommend]',
                      // 読み取り専用
                      readOnly: true,
                      // 星評価の読み込み
                      score: <%= t.recommend %>,
                    });
                  }

              </script>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= t.genre.name %></td>
          </tr>
          <tr>
            <td>タグ</td>
            <td>
              <% t.tags.each do |tag| %>
                <i class="fa-solid fa-tag"></i><%= tag.name %><br>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>いいね</td>
            <td id="favorite_buttons_<%= t.id %>">
              <%= render "publics/favorites/favorite", post: t %>
            </td>
          </tr>
          <tr>
            <td>投稿ステータス</td>
            <td>
              <% if t.status == true %>
                <%= "公開" %>
              <% else %>
                <%= "非公開" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    <div class="text-center"></div>
  </div>
<% end %>