<div class="container">
  <div class="row">
    <div class="col">
      <h2><strong>投稿一覧</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
  <thead>
    <tr>
      <td>施設名</td>
      <td>住所</td>
      <td>おすすめ度</td>
      <td>ジャンル</td>
      <td>タグ</td>
      <td>いいね</td>
      <td>投稿ステータス</td>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |t| %>
    <tr>
      t.status == true
      <td>
        <%= link_to post_path(t.id) do %>
          <%= t.name %>
        <% end %>
      </td>
      <td><%= t.address %></td>
      <td><div id="star-<%= t.id %>"></div></td>
        <script>

            init();
            function init(){
              if (0 < $("#star-<%= t.id %> img").length) return false;
              $("#star-<%= t.id %>").raty({
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                scoreName: 'post[recommend]',
                // 読み取り専用
                readOnly: true,
                // 星評価の読み込み
                score: <%= t.recommend %>,
              });
            }

        </script>
      <td><%= t.genre.name %></td>

      <td>
        <% t.tags.each do |tag| %>
          #<%= tag.name %><br>
        <% end %>
      </td>


      <td id="favorite_buttons_<%= t.id %>">
        <%= render "publics/favorites/favorite", post: t %>
      </td>
      <td>
        <% if t.status == true %>
          <%= "公開" %>
        <% else %>
          <%= "非公開" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>



