<div class="container">
  <div class="row text-center mb-4">
    <div class="col-3 offset-1">
      <h2 class="bg-info text-white d-block text-center">
        <strong>投稿一覧</strong>
      </h2>
    </div>
  </div>
  <div class="row mb-3" style="line-height: center;">
    <div class="col-5 offset-1">
      <%= render "publics/searches/search" %>
    </div>
    <div class="col-4 mt-1">
      <% if customer_signed_in? %>
        <%= form_tag posts_path, method: :get, class: 'boards__searchForm' do %>
          <%= "タグ絞り込み:" %>
          <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
            {
              prompt: 'すべて表示',
              onchange: 'submit(this.form);'
            }
          %>
        <% end %>
      <% end %>
    </div>
    <div class="col btn btn-primary">
      <%= link_to customer_favorites_index_path(current_customer.id) do %>
        <i class="fa-solid fa-thumbs-up text-white">いいね一覧</i>
      <% end %>
    </div>
  </div>
  <div class="row pt-4 pb-4" style="background-color: lightblue; min-height: 550px;">
    <div class="col">
      <%= render "post_index", posts: @posts %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-5">
      <%= paginate @posts %>
    </div>
  </div>
</div>



