<div class="container">
  <div class="row">
    <div class="col">
      <h2>新規投稿</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <table>
        <tdody>
          <%= form_with model: @post do |f| %>
          <tr>
            <td><%= f.label :name, "施設名" %></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.label :address, "住所" %></td>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <td><%= f.label :category, "施設の種類" %></td>
            <td><%= f.text_field :category %></td>
          </tr>
          <tr>

            <td>
              <label>おすすめ度：</label>
            </td>
            <td><div id="star"></div></td>
          </tr>
          <tr>
            <td><%= f.label :genre, "ジャンル" %></td>
            <td><%= f.select :genre, options_from_collection_for_select(@genre, :id, :name) %></td>
          </tr>
          <tr>
            <td><%= f.label :clean, "清潔度" %></td>
            <td><div id="star-clean"></div></td>
          </tr>
          <tr>
            <td><%= f.label :parking, "駐車情報" %></td>
            <td><%= f.text_field :parking %></td>
          </tr>
          <tr>
            <td><%= f.label :detail, "詳細説明" %></td>
            <td><%= f.text_area :detail %></td>
          </tr>
          <tr>
            <td><%= f.label :status, "投稿ステータス" %></td>
            <td>
              <%= f.radio_button :status, "true" %>
              <%= f.label :status, "公開" %>
              <%= f.radio_button :status, "false" %>
              <%= f.label :status, "非公開" %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "投稿" %></td>
          </tr>
          <% end %>
        </tdody>
      </table>
    </div>
  </div>
</div>


<script>
  $('#star').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      scoreName: 'post[recommend]'
    });
      $('#star-clean').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      scoreName: 'post[clean]'
    });
</script>
