<div class="container">
  <div class="row text-center">
    <div class="col-3 offset-1">
      <h2 class="bg-info text-white d-block text-center">
        <strong>一覧MAP</strong>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-8">
      <input id="address" type="textbox" class="rounded" style="width: 200px; height: 50px;" placeholder="地図検索">
      <input type="button" style="width: 80px; height: 50px;" value="検索" onclick="codeAddress()">
    </div>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div id='map' class="mb-5"></div>
  </div>
</div>

<!--マップのサイズ-->
<style>
  #map {
    height: 650px;
    width: 100%;
    margin: auto;
  }
</style>




<script>
let map
let geocoder

const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    //latが緯度、lngが経度
    center: {lat: 35.6896067, lng: 139.7005713},
    //ズーム度(数字が大きければよりズームする)
    zoom: 15,

  });

  //positionで指定した座標にピンを指す
  // marker = new google.maps.Marker({
  //   position:  {lat: 35.6896067, lng: 139.7005713},
  //   map: map
  //   // draggable: true // ドラッグ可能にする
  // });

  //複数マーカー ここから
      <% @posts.each do |post|%>
        ( function() {
          let markerLatLng = new google.maps.LatLng({lat: <%= post.latitude %>, lng: <%= post.longitude %>}); // 緯度経度のデータ作成
          let marker = new google.maps.Marker({
            position: markerLatLng,
            map: map
          });
    　　　//マーカーをクリックしたとき、詳細情報を表示
          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<a href='<%= post_url(post.id) %>' target='_blank'><%= post.name %></a><br><div>おすすめ度：<div id='star-<%= post.id %>' style='text-align: center;'></div></div>"

          }); //ここで詳細ページへのリンクを表示させる
          marker.addListener('click', function() {
            infowindow.open(map, marker);
            google.maps.event.addListener(infowindow,'domready',init)

            function init(){
              // if (0 < $("#star-<%#= post.id %>").length) return false;
              $("#star-<%= post.id %>").raty({
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                scoreName: 'post[recommend]',
                // 読み取り専用
                readOnly: true,
                // 星評価の読み込み
                score: <%= post.recommend %>,
              });
            }

          });


       })();
      <% end %>
      //複数マーカー ここまで

}



// codeAddress()の定義
function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    //該当する検索結果がヒットした時に、地図の中心を検索結果の緯度,経度に更新する
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      // var marker = new google.maps.Marker({
      //     map: map,
      //     position: results[0].geometry.location
      // });
    } else {//検索結果が何もなかった場合に下を表示
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

</script>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"] %>&callback=initMap" async defer></script>