<div class="container">
  <div class="row">
    <div class="col">
      <h2><strong>投稿一覧MAP</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @post, local: true do |f| %>
        <div class="actions">
          <%= f.label :body,"内容" %>
          <%= f.text_field :body %>
          <%= f.label :latitude,"緯度" %>
          <%= f.text_field :latitude, id: :lat %>
          <%= f.label :longitude,"経度" %>
          <%= f.text_field :longitude, id: :lng %>
          <%= f.submit %>
        </div>
      <% end %>




      <div>
        <input id="address" type="textbox" value="">
        <input type="button" value="検索" onclick="codeAddress()">
      </div>
      <div id="display">何かが表示される、、、、！</div>

      <div id='map'></div>

    </div>
  </div>
</div>


<!--マップの大きさ-->
<style>
#map {
  margin: auto;
  height: 500px;
  width: 95%;
}
</style>

<script>
// 初期マップの設定
let map
function initMap(){
  geocoder = new google.maps.Geocoder()
// 指定した座標をマップの中心にする、ズーム度
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.6896067, lng: 139.7005713},
    zoom: 15,
  });
// 指定した座標にピンを指す
  marker = new google.maps.Marker({
    position:  {lat: 35.6896067, lng: 139.7005713},
    map: map
  });
}

// 検索後のマップ
let geocoder
const display = document.getElementById('display')

// 検索ボタンを押すと実行する
function codeAddress(){
  // 検索した内容を取得
  let inputAddress = document.getElementById('address').value;

// 　前のピンを消す
  if(marker != null){
		    marker.setMap(null);
		  }
		  marker = null;
//   ここまで
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
     //該当する検索結果がヒットした時に、地図の中心を検索結果の緯度経度に更新する
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
       display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"] %>&callback=initMap" async defer></script>