
<div class="container">
  <div class="row text-center bg-secondary p-2 text-white mb-5">
    <div class="col">
      <h2><strong>ジャンル一覧</strong></h2>
    </div>
  </div>
  <div class="row p-5" style="background-color: white; min-height: 600px;">
    <div class="col-3">
      <h3>
        <strong>新規作成</strong>
      </h3>
      <%= form_with model: @genre, url: admins_genres_path do |f| %>
        <div class="mt-3">
          <%= f.label :name, "ジャンル名" %><br>
        </div>
        <div class="mt-3">
          <%= f.text_field :name %><br>
        </div>
        <div class="mt-4 text-right">
          <%= f.submit "作成" %>
        </div>
      <% end %>
    </div>
    <div class="col-8 offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンルID</th>
            <th>ジャンル名</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.id %></td>
            <td><%= genre.name %></td>
            <td>
              <%= link_to "編集", edit_admins_genre_path(genre.id), class:"btn btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "削除", admins_genre_path(genre.id), method: :delete , "data-confirm" => "本当に消しますか？", class:"btn btn-sm btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>