<div class="container">
  <div class="row text-center bg-secondary p-2 text-white mb-5">
    <div class="col">
      <h2><strong>投稿一覧</strong></h2>
    </div>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="row" style=" background-color: lightblue;">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>施設名</th>
            <th>住所</th>
            <th>おすすめ度</th>
            <th>ジャンル</th>
            <th>タグ</th>
            <th>いいね</th>
            <th>投稿ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |f| %>
          <tr>
            <td>
              <%= link_to admins_post_path(f) do %>
                <%= f.name %>
              <% end %>
            </td>
            <td><%= f.address %></td>
            <td><div id="star-<%= f.id %>"></div></td>
              <script>
                  init();
                  function init(){
                    if (0 < $("#star-<%= f.id %> img").length) return false;
                    $("#star-<%= f.id %>").raty({
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      scoreName: 'post[recommend]',
                      // 読み取り専用
                      readOnly: true,
                      // 星評価の読み込み
                      score: <%= f.recommend %>,
                    });
                  }
              </script>
            <td><%= f.genre.name %></td>
            <td>
              <% f.tags.each do |tag| %>
                #<%= tag.name %><br>
              <% end %>
            </td>
            <td>♥<%= f.favorites.count %>いいね</td>
            <td>
              <% if f.status == true %>
                <%= "公開" %>
              <% else %>
                <%= "非公開" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



