<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2><strong>投稿一覧</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>施設名</th>
            <th>住所</th>
            <th>おすすめ度</th>
            <th>ジャンル名</th>
            <th>いいね</th>
            <th>投稿ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @posts.each do |f| %>
          <tr>
            <td><%= f.customer.id %></td>
            <td><%= f.customer.name %></td>
            <td>
              <%= link_to admins_post_path(f.id) do %>
                <%= f.name %>
              <% end %>
              </td>
            <td><%= f.address %></td>
            <td><div id="star"></div></td>
            <td><%= f.genre %></td>
            <td>♡(数字)</td>
            <td><%= f.status %></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


          <script>
            $("#star").raty{
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              scoreName: 'post[recommend]'
              // 読み取り専用
              readOnly: true,
              // 星評価の表示
              score: <%= f.recommend %>,
            });
          </script>
        <% end %>