<div class="container">
  <div class="row text-center mb-4">
    <div class="col-3 offset-1">
      <h2 class="bg-info text-white d-block text-center rounded">
        <strong>ログイン</strong>
      </h2>
    </div>
  </div>
  <div class="row pt-5 pb-5 mt-5" style="background-color: lightblue; margin: 40px 0;">
    <div class="col-6 offset-3">
      <%= form_with model: @customer, url: customer_session_path do |f| %>
        <div class="row text-danger">
          <div class="col">
            <%= render "devise/shared/error_messages", resource: resource %>
          </div>
        </div>
        <table class="table table-borderless mb-5" style="margin-top: 20px;">
          <tbody>
            <tr class="field">
              <td><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr class="field">
              <td>
                <%= f.label :password, "パスワード" %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 文字以上)</em>
                <% end %>
              </td>
              <td><%= f.password_field :password, autocomplete: "new-password" %></td>
            </tr>
            <tr class="actions">
              <td></td>
              <td><%= f.submit "ログイン", class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <div class="d-flex justify-content-center">
        <p>
          <strong>まだ会員登録されてない方は</strong></br>
          <%= render "publics/shared/links" %>から新規登録してください
        </p>
      </div>
    </div>
  </div>
</div>
<!--AAAAAA-->