<div class="container">
  <div class="row text-center mb-4">
    <div class="col-3 offset-1">
      <h2 class="bg-info text-white d-block text-center rounded">
        <strong>ログイン</strong>
      </h2>
    </div>
  </div>
  <div class="row pt-5 pb-5 mt-5" style="background-color: lightblue; margin: 40px 0;">
    <div id="form" class="col-6 offset-3">
      <%= form_with model: @customer, url: customer_session_path do |f| %>
        <div class="row text-danger">
          <div class="col">
            <%= render "devise/shared/error_messages", resource: resource %>
          </div>
        </div>
        <table class="table table-borderless mb-5" style="margin-top: 20px;">
          <tbody>
            <tr class="field">
              <td><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr class="field">
              <td>
                <%= f.label :password, "パスワード" %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 文字以上)</em>
                <% end %>
              </td>
              <td><%= f.password_field :password, autocomplete: "new-password" %></td>
            </tr>
            <tr class="actions">
              <td></td>
              <td><%= f.submit "ログイン", class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <div class="d-flex justify-content-center">
        <p>
          <strong>まだ会員登録されてない方は</strong></br>
          <%= render "publics/shared/links" %>から新規登録してください
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
  // メソッドの定義
  var methods = {
    email: function (value, element) { // メールアドレスの正規表現
      return this.optional(element) || /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/i.test(value);
    },
    password: function (value, element) { // パスワードの正規表現
      return this.optional(element) || /^(?=.*?[a-z])(?=.*?\d)[a-z\d]{8,100}$/i.test(value);
    },
  }
  // メソッドの追加
  $.each(methods, function (key) {
    $.validator.addMethod(key, this);
  });
  // バリデーションの実行
  $("#signup-form").validate({
    // ルール設定
    rules: {
      "user[name]": {
        required: true // ニックネームの入力有無チェック
      },
      "user[email]": {
        required: true, // メールアドレスの入力有無チェック
        email: true // メールアドレスの正規表現チェック
      },
      "user[password]": {
        required: true, // パスワードの入力有無チェック
        password: true // メールアドレスの正規表現チェック
      },
    },
    // エラーメッセージの定義
    messages: {
      "customer[name]": {
        required: "ニックネームを入力してください"
      },
      "customer[email]": {
        required: "メールアドレスを入力してください",
        email: "フォーマットが不適切です"
      },
      "customer[password]": {
        required: "パスワードを入力してください",
        password: "英字と数字両方を含むパスワードを入力してください"
      },
    },
    errorClass: "invalid", // バリデーションNGの場合に追加するクラス名の指定
    errorElement: "p", // エラーメッセージの要素種類の指定
    validClass: "valid", // バリデーションOKの場合に追加するクラス名の指定
    }
  });
  // 入力欄をフォーカスアウトしたときにバリデーションを実行
  $("#name, #email, #password").blur(function () {
    $(this).valid();
  });
});
</script>