<div class="container">
  <div class="row text-center mb-4">
    <div class="col-3 offset-1">
      <h2 class="bg-info text-white d-block text-center">
        <strong><%= "会員情報編集" %></strong>
      </h2>
    </div>
  </div>
  <div class="row p-3" style="background-color: lightblue;">
    <div class="col p-5">
      <%= form_with model: @customer, url: customer_path do |f| %>
        <div class="form-group row mx-auto">
          <%= f.label :name, "氏名", class: "col-3 offset-2" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-5" %>
        </div><br>
        <div class="form-group row mx-auto">
          <%= f.label :name_kana, "氏名（カナ）", class: "col-3 offset-2" %>
          <%= f.text_field :name_kana, autocomplete: "name_kana", class: "col-5" %>
        </div><br>
        <div class="form-group row mx-auto">
          <%= f.label :nickname, "ニックネーム", class: "col-3 offset-2" %>
          <%= f.text_field :nickname, autocomplete: "nickname", class: "col-5" %>
        </div><br>
        <div class="form-group row mx-auto">
          <%= f.label :email, "メールアドレス", class: "col-3 offset-2" %>
          <%= f.email_field :email, autocomplete: "email", class: "col-5" %>
        </div><br>
        <div class="form-group row mx-auto">
          <%= f.label :phone_number, "電話番号", class: "col-3 offset-2" %>
          <%= f.telephone_field :phone_number, autocomplete: "phone_number", class: "col-5" %>
        </div><br>
        <div class="row">
          <div class="col-5 offset-5">
            <%= f.submit "更新", class: "btn btn-success btn-lg btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>