<div class="container">
  <div class="row text-center mb-4">
    <div class="col-3 offset-1">
      <h2 class="bg-info text-white d-block text-center">
        <strong>マイページ</strong>
      </h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-3 p-3 mr-1" style="background-color: rgb(208, 255, 0); height: 700px;">
      <h4 class="text-center mt-2"><strong>ユーザー情報</strong></h4>
      <div class="text-center">
        <% if @customer.profile_image.attached? %>
          <%= image_tag @customer.profile_image, size: "180x180" %>
        <% else %>
          <%= image_tag "no_image.jpg", size: "150x150" %>
        <% end %>
      </div><br>
      <table style="width: 100%;">
        <tbody>
          <tr>
            <td>氏名</td>
            <td class="text-center">
              <strong><%= @customer.name %></strong>
            </td>
          </tr>
          <tr>
            <td>氏名(カナ)</td>
            <td class="text-center">
              <strong><%= @customer.name_kana %></strong>
            </td>
          </tr>
          <tr>
            <td>ニックネーム</td>
            <td class="text-center">
              <strong><%= @customer.nickname %></strong>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <label>メールアドレス</label><br>
        <strong class="d-flex justify-content-center"><%= @customer.email %></strong>
      </div><br>
      <div>
        <label>電話番号</label><br>
        <strong class="d-flex justify-content-center"><%= @customer.phone_number %></strong>
      </div><br>
      <div>
        <label>会員ステータス</label><br>
        <div>
          <strong class="d-flex justify-content-center">
            <% if @customer.status == true %>
              <%= "有効" %>
            <% else %>
              <%= "退会" %>
            <% end %>
          </strong>
        </div>
      </div><br>
      <% if @customer.name != "guestcustomer" %>
        <%= link_to edit_customer_path(@customer.id), class:"btn btn-success btn-block mt-3 mb-2" do %>
          <i class="fa-solid fa-user-gear"></i> 編集
        <% end %>
        <%= link_to quit_path, class:"btn btn-danger btn-block mt-3 mb-2" do %>
          <i class="fa-solid fa-user-large-slash"></i> 退会
        <% end %>
      <% end %>
    </div>
    <div class="col pt-4 pb-4">
      <div class="row">
        <h4 class="col mt-2 text-center">
          <strong><%= current_customer.nickname %>さんの投稿一覧</strong>
        </h4>
      </div>
      <div class="row justify-content-around">
        <%= render "publics/posts/post_index", posts: @posts %>
      </div>
      <div class="row">
        <div class="col-4 offset-5">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>