<!DOCTYPE html>
<html>
  <head>
    <title>DriverInformation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/e8a13719a6.js" crossorigin="anonymous"></script>
  </head>

  <body class="body">
    <header>
        <%= render "layouts/header" %>
    </header>
    <main class="pt-4 pb-5">
      <p id="notice" class="ml-5"><%= notice %></p>
      <%= yield %>
    </main>
  </body>
</html>
