<!DOCTYPE html>
<html>
  <head>
    <title>DriverInformation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/e8a13719a6.js" crossorigin="anonymous"></script>
  </head>

  <body class="body">
    <header>
        <%= render "layouts/header" %>
    </header>
    <main class="pt-3 pb-5" style="min-height: 700px;">
      <p id="notice" class="text-white bg-primary"><%= notice %></p>
      <%= yield %>
    </main>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
